{% extends 'index.html' %}
{% load static %}

{% block content %}


<!-- Hero Section Begin -->
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            {% for i in data %}
            <li>
              <a href="{% url 'shop_grid' %}?category={{ i.id }}">{{i.name}}</a>
            </li>
            {% empty %}
            <li><a href="#"> No Departments Found </a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="{% url 'search_product' %}" method="GET">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input
                type="text"
                name="search"
                placeholder="What do you need?"
                value="{{ query }}"
              />
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<section class="profile spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">

        <div class="section-title">
          <h2>Change Password</h2>
        </div>

        {% if messages %}
          {% for message in messages %}
            <div class="profile__alert profile__alert--{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}

        <div class="profile__card">
          <form method="POST" class="profile__form" autocomplete="off">
            {% csrf_token %}

            <div class="profile__form__group">
              <label for="{{ form.old_password.id_for_label }}">Current Password</label>
              {{ form.old_password }}
              {% if form.old_password.errors %}
                <span class="profile__form__error">{{ form.old_password.errors.0 }}</span>
              {% endif %}
            </div>

            <div class="profile__form__group">
              <label for="{{ form.new_password1.id_for_label }}">New Password</label>
              {{ form.new_password1 }}
              {% if form.new_password1.errors %}
                <span class="profile__form__error">{{ form.new_password1.errors.0 }}</span>
              {% endif %}
            </div>

            <div class="profile__form__group">
              <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
              {{ form.new_password2 }}
              {% if form.new_password2.errors %}
                <span class="profile__form__error">{{ form.new_password2.errors.0 }}</span>
              {% endif %}
            </div>

            <div class="profile__form__actions">
              <button type="submit" class="site-btn">Update Password</button>
              <a href="{% url 'my_profile' %}" class="site-btn profile__btn--secondary">Back to Profile</a>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}