{% extends "index.html" %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                       <ul>
                            {% for i in data %}
                                <li>
                                    <a href="{% url 'shop_grid' %}?category={{ i.id }}">
                                        {{ i.name }}
                                    </a>
                                </li>
                            {% empty %}
                                <li><a href="#">No departments found</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__option">
                            <a href='{% url "index" %}'>Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>+91-8200625079</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>Raipur</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>hp5896958@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.9401514024794!2d72.58941260949852!3d23.02596957908449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e843622795555%3A0x3243eedd715ce785!2sshamla%2C%20ni%20pole%2C%201211%2C%20VACHALO%20KHANCHO%2C%20Old%20City%2C%20Raipur%2C%20Khadia%2C%20Ahmedabad%2C%20Gujarat%20380001!5e0!3m2!1sen!2sin!4v1782288382893!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Raipur </h4>
                <ul>
                    <li>Phone: +91 8200625079</li>
                    <li>Add: 16 Creek Ave. Farmingdale, NY</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->
    
    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Leave Message</h2>
                    </div>
                </div>
            </div>
            
            {% comment %} {% if messages %}
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 20px;">
                    {% for message in messages %}
                    <div class="profile__alert profile__alert--{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %} {% endcomment %}
            
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <input type="text" name="name" placeholder="Your name" required>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="email" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="subject" placeholder="Subject (optional)">
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea name="message" placeholder="Your message" required></textarea>
                        <button type="submit" class="site-btn">SEND MESSAGE</button>
                    </div>
                </div>
            </form>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if messages %}
                {% for message in messages %}
                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    Swal.fire({
                        icon: '{{ message.tags }}',
                        title: '{{ message|escapejs }}',
                        showConfirmButton: false,
                        timer: 2500
                    });
                });
                </script>
                {% endfor %}
            {% endif %}
    </div>
</div>
<!-- Contact Form End -->
{% endblock  %}
    