{% extends "index.html" %}
{% block content %}

<div class="form-box">

    <h2>Forgot Password</h2>

    <form method="POST">
        {% csrf_token %}

        <input 
            type="email" 
            name="email" 
            placeholder="Enter your registered email"
            required
        >

        <button type="submit">Send Reset Link</button>
    </form>

    {% if message %}
        <p style="color:green; text-align:center; margin-top:10px;">
            {{ message }}
        </p>
    {% endif %}

    {% if error %}
        <p style="color:red; text-align:center; margin-top:10px;">
            {{ error }}
        </p>
    {% endif %}

    <p style="text-align:center; margin-top:15px;">
        Back to 
        <a href="{% url 'login' %}">Login</a>
    </p>

</div>

{% endblock %}